@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
}

.container {
    border: 1px solid black;
    width: 70%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.digital-clock {
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 1.1rem;
    background-color: rgba(0, 0, 0, 0.082);
}  

.digital-clock h1 {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 4rem;
}

@media(max-width:768px) {
    #bar1 #bar2 {
        display: none;
    }
    .digital-clock {
        text-align: center;
        width: 100%;
    }
    .digital-clock h1 {
        display: block;
    }
}

@media(max-width:480px) {
    .digital-clock {
        font-size: 3rem;
    }
}