body {
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
    display: grid;
    place-items: center;
    height: 100vh;
}

.main-container {
    padding: 30px;
    text-align: center;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    border: solid grey;
}

button {
    width: 40%;
    padding: 10px 16px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

#timer {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
}

#info {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    border-radius: 40px;
}