@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.nav h2 {
    font-size: 2rem;
}

.user-input {
    width: 350px;
    text-align: center;
}

.user-input input {
    width: 80%;
    outline: none;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.user-input button {
     cursor: pointer;
     padding: 8px;
     width: fit-content;
     outline: none;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}

.user-input button:hover {
    background-color: transparent;
    color: white;
    transition: .5s;
}

.to-do-items {
     width: 500px;
     margin: auto;
}

.items {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.items:hover {
    box-shadow: 0 0 20px #e22865 ;
    border: 1px solid #e22865;
}

.item i {
    cursor: pointer;
    margin: 0 5px;
}

@media(max-width:768px) {
    .nav {
        align-items: center;
        flex-direction: column;
    }
    .nav h2 {
        margin: 10px 0;
    }
    .user-input {
        width: 100%;
    }
    .to-do-items {
        width: 100%;
    }
}

@media(max-width:480px) {
    .user-input input {
        width: 70%;
    }
}

@media(max-width:320px) {
    .user-input input {
        width: 60%;
    }
}